<!-- Describe task in general -->
<p style="text-align: justify;">
    Let us take a breather by tackling a problem simple enough that its solution needs only a couple of conditional statements and some arithmetic, but not even one loop or anything more fancy. The difficulty is coming up with the conditions that cover all possible cases of this problem just right, including all of the potentially tricksy edge and corner cases, without being off-by-one anywhere. 
</p>

<p style="text-align: justify;">
    Given three integers <code>start, end, n</code>, so that <code>start <= end</code>, count how many integers between <code>start</code> and <code>end</code>, inclusive, are evenly divisible by <code>n</code>. Note that either <code>start</code> or <code>end</code> can well be negative or zero, but <code>n</code> is guaranteed to be greater than zero. Here is the scheme for <code>1, 9, 3</code> input.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}count-divisibles.png" alt="example" style="max-height: 200px"/>
</p>

<p style="text-align: justify;">
   Sure, this problem could be solved as a one-liner with the lazy comprehension. <strong>Try to have code with no loops at all, but use only integer arithmetic and conditional statements to root out the truth.</strong> 
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Three integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Integer <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>start <= end</i>;</li>
    <li><i>n > 0</i>.</li>
    </ul>
</p>
<p><i>The mission was taken from <span translate="no">Python CCPS 109</span>. It is taught for <span translate="no">Ryerson Chang School of Continuing Education</span> by <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
